<nav>
    <div class="logo"> Book App </div>
    <ul>
        <li>  <a   routerLink="/home">
            <i class="material-icons">home</i> HOME
        </a>
        </li>
            <li><a routerLink="/bookList"> 
                <i class="material-icons">book</i> Books</a>
                <li><a routerLink="/favList">
                    <i class="material-icons">favorite</i> Favorite</a>
                    <li><a routerLink="/addBook">
                        <i class="material-icons">add</i> Add Book</a>
    </ul>

</nav>